@import "tailwindcss";

.gradient-bg {
  @apply bg-gradient-to-r from-[#1E5128] to-emerald-600;
}

.dashboard-bg  {
  @apply bg-[#1E5128];
}

.dashboard-text {
  @apply text-[#1E5128];
}
.glass {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.4);
}

.primary {
  @apply bg-[#2f6f55];
}
.primary-text {
  @apply text-[#2f6f55];
}